<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./data-user.html">
<link rel="import" href="./selector-user.html">


<dom-module id="admin-base">
  <template>
    <style include="shared-styles">
    </style>

    <data-user on-myevent="processEvent"></data-user>
    <selector-user Existe="False" id="receiver"></selector-user>

  </template>
  <script>
      class AdminBase extends Polymer.Element {
          static get is() { return 'admin-base'; }

          static get properties() {
            return {
            };
          }
          processEvent(event) {
            console.log("Se ha capturado el evento del emisor datos base");
            console.log(event.detail.nid);
            this.$.receiver.nid = event.detail.nid;
          }
      }
      window.customElements.define(AdminBase.is, AdminBase);
  </script>
</dom-module>
