<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./create-user.html">
<link rel="import" href="./create-account.html">


<dom-module id="selector-user">
  <template>
    <style include="shared-styles">
    </style>

    <iron-localstorage name="uid" value="{{uid}}"></iron-localstorage>
    <brum-global-variable key="ouid" value="{{uid}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <div class="PersonalArea" >
      <!-- <div> -->
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        <create-user nid="{{nid}}"></create-user>
      </template>

      <div hidden$="[[!Existe]]" class="row">

        <p>Nombre:[[user.first_name]] Apellidos:[[user.last_name]]</p>
        <p>DNI:[[user.nid]]</p>
        <p>Correo Electronico: [[user.email]]</p>
        <create-account uid={{uid}}></create-account>
      </div>
    </div>


    <iron-ajax
      id="getUser"
      url="http://192.168.99.101:3000/BankPractice/v1/users/nid/{{nid}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      auto>
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SelectorUser extends Polymer.Element {
      static get is() { return 'selector-user'; }
      static get properties() {
        return {
          myevent : {
              type: String,
              observer: '_myaccountchanged'
            },
            error: String,
            Existe :Boolean
          //errorE : {
          //    type: String,
          //    observer: '_myaccountchanged'
          //  },
          //Existe : {
          //    type: boolean,
          //    value= false
          //  }

        }
      }
      showData (data){
        console.log("SelectorUser.showData");
        console.log(data.detail.response);
        this.user = data.detail.response;
        this.Existe = true;
        this.uid= data.detail.response.id;
        this.error = '';
      }
      showError(error){
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          console.log(error.detail.request.xhr.response);
          this.error = error.detail.request.xhr.response.msg;
          this.Existe = false;
        }


      }
      _coursechanged( newValue, oldValue) {
          console.log("El valor de course ha cambiado");
          console.log("Valor nuevo:"+newValue);
          console.log("Valor antiguo:"+oldValue);
      }
    }

    window.customElements.define(SelectorUser.is, SelectorUser);
  </script>
</dom-module>
