<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="./data-user.html">
<link rel="import" href="./selector-user-deposit.html">


<dom-module id="admin-login">
  <template>
    <style include="shared-styles">
  
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <data-user on-myevent="processEvent"></data-user>
    <selector-user-deposit Existe="False" id="receiver"></selector-user-deposit>

  </template>
  <script>
      class AdminLogin extends Polymer.Element {
          static get is() { return 'admin-login'; }

          static get properties() {
            return {
            };
          }
          processEvent(event) {
            console.log("Se ha capturado el evento del emisor datos base-login");
            console.log(event.detail.nid);
            this.$.receiver.nid = event.detail.nid;
          }
      }
      window.customElements.define(AdminLogin.is, AdminLogin);
  </script>
</dom-module>
