<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">


<dom-module id="create-movement-tres">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-localstorage name="movementDOS" value="{{movementDataDOS}}"></iron-localstorage>
    <brum-global-variable key="operDataDOS" value="{{movementDataDOS}}"></brum-global-variable>

    <iron-ajax
      id="doMovement"
      url="http://192.168.99.101:3000/BankPractice/v1/transaction"
      method="post"
      content-type="application/json"
      handle-as="json"
      body=[[json(movementDataDOS)]]
      on-response="handleUserResponse"
      on-error="handleUserError"
      auto>
    </iron-ajax>

    <app-location route="{{route}}"></app-location>
    <div class="CreateMovementTres">
         <!-- [[movementDataDOS.who]]
         [[movementDataDOS.userId]]
         [[movementDataDOS.accountId]]
         [[movementDataDOS.amount]]
         [[movementDataDOS.who]]
         [[movementDataDOS.type]]
         <br>
         [[json(movementDataDOS)]] -->

      </div>
  </template>

  <script>

    class CreateMovementTres extends Polymer.Element {
      static get is() { return 'create-movement-tres'; }
      static get properties() {
        return {
          movementDataDOS : Object,
          resultado : String
        }

        }

      Create (){
                console.log(this.movementDataDOS);
                if (this.movementDataDOS.accountId  == null ){
                  this.$.doCreate.body = JSON.stringify(this.movementDataDOS);
                  this.$.doCreate.generateRequest();
                } else {
                  exit()
                }
              }

      handleUserError(event) {
        console.log("CreateMovementTres.error")
        console.log(event.detail.request.xhr.response);
        console.log(this.movementDataDOS);
        this.error = event.detail.request.xhr.response.msg;
        this.resultado=event.detail.response.msg;
      }
      handleUserResponse(event) {
        console.log(event.detail.response);
        console.log(this.movementDataDOS);
        this.resultado=event.detail.response.msg;
        this.error = '';
        this.movementDataDOS = {};

        this.set('route.path', '/visor-usuario');
      }
      json(obj) {
       return JSON.stringify(obj, null, 2);
     }
    }

    window.customElements.define(CreateMovementTres.is, CreateMovementTres);
  </script>
</dom-module>
