<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="./data-transfer.html">
<link rel="import" href="./transaction-transfer.html">

<dom-module id="create-transfer">
  <template>
    <style include="shared-styles">
    </style>
    <div class="Titulo"> Transferencias entre cuentas</div>
    <data-transfer on-myevent="processEvent"></data-transfer>
    <transaction-transfer id="receiver"></transaction-transfer>

  </template>

  <script>

    class CreateTransfer extends Polymer.Element {
      static get is() { return 'create-transfer'; }
      static get properties() {
        return {
          formData: {
              type: Object,
              value: {}
          }
        };
      }
      processEvent(e) {
        console.log("Se ha capturado el evento del emisor datos");
        this.$.receiver.id = e.detail.id;
        this.$.receiver.aid = parseInt(e.detail.aid);
        this.$.receiver.daid = parseInt(e.detail.daid);
        this.$.receiver.amount = parseFloat(e.detail.amount);
        this.$.receiver.who = e.detail.who;
        this.$.receiver.dstaccount = e.detail.dstaccount;
      }
      //processMovimiento(e) {
      //  console.log("Se ha capturado el evento del ejecutor");
      //  this.$.receptor.formData = e.detail;
      //}
    }

    window.customElements.define(CreateTransfer.is, CreateTransfer);
  </script>
</dom-module>
