<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="./data-operation.html">
<link rel="import" href="./transaction-payment.html">



<dom-module id="create-payment">
  <template>
    <style include="shared-styles">
    </style>
      <div class="Titulo"> Pagos </div>
      <data-operation on-myevent="processEvent"></data-operation>
      <transaction-payment id="receiver"></transaction-payment>
      <!-- <transaction-deposit id="receiver" on-formData="processMovimiento"></transaction-deposit> -->
  </template>

    <script>

      class CreatePayment extends Polymer.Element {
        static get is() { return 'create-payment'; }
        static get properties() {
          return {
            formData: {
                type: Object,
                value: {}
            }
          };
        }
        processEvent(e) {
          console.log("Se ha capturado el evento del emisor datos");
          this.$.receiver.id = e.detail.id;
          this.$.receiver.aid = e.detail.aid;
          this.$.receiver.amount = e.detail.amount;
          this.$.receiver.who = e.detail.who;
          this.$.receiver.dstaccount = e.detail.dstaccount;
        }
        //processMovimiento(e) {
        //  console.log("Se ha capturado el evento del ejecutor");
        //  this.$.receptor.formData = e.detail;
        //}
      }

      window.customElements.define(CreatePayment.is, CreatePayment);
    </script>
  </dom-module>
