<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="create-user">
  <template>
    <style include="shared-styles">

    </style>

    <iron-ajax
      id="doCreate"
      url="http://192.168.99.101:3000/BankPractice/v1/users/"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="uid" value="{{uid}}"></iron-localstorage>
    <brum-global-variable key="uid" value="{{uid}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="CreateUser">
        <h1>Creación de usuario</h1>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input  slot="input" bind-value="{{formData.first_name}}" >
            <input class="input-style" id="first_name" type="text" value="{{formData.first_name}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Apellidos</label>
          <iron-input  slot="input" bind-value="{{formData.last_name}}" >
            <input class="input-style" id="last_name" type="text" value="{{formData.last_name}}" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
            <label slot="input">DNI</label>
          <iron-input  slot="input" bind-value="{{formData.nid}}" >
            <input class="input-style" id="ndi" type="text" value="{{formData.nid}}" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input  slot="input" bind-value="{{formData.email}}" >
            <input class="input-style" id="email" type="text" value="{{formData.email}}" >
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="Create">Crear Usuario</paper-button>
        </div>
    </div>
  </template>

  <script>
      class CreateUser extends Polymer.Element {
          static get is() { return 'create-user'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              this.$.doCreate.body = this.formData;
          }

          Create (){
                  this.formData.nid=this.formData.nid.toUpperCase();
                  console.log(this.formData);
                  this.$.doCreate.body = JSON.stringify(this.formData);
                  this.$.doCreate.generateRequest();
                }

          handleUserResponse(event) {
            console.log(event.detail.response);
            this.error = '';
            //this.storedUser = {
            //    name: this.formData.email,
            //    id: event.detail.response.idUsuario
                //isLogged = true;<
            //};
            this.uid= event.detail.response.idUsuario;
            this.set('route.path', '/create-account');
            this.formData = {};
          }

          handleUserError(event) {
              this.error = event.detail.request.xhr.response.msg;
          }
      }

      window.customElements.define(CreateUser.is, CreateUser);
  </script>
</dom-module>
