<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="create-account">
  <template>
    <style include="shared-styles">
    </style>

    <iron-localstorage name="uid" value="{{uid}}"></iron-localstorage>
    <brum-global-variable key="uid" value="{{uid}}"></brum-global-variable>

    <iron-ajax
      id="doCreate"
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{uid}}/accounts"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>

    <div class="cardAdmin">
        <h1 class="blanco">Creación de cuenta</h1>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <div class="PersonalArea">
            <paper-input-container>
              <label slot="input">IBAN</label>
              <iron-input  slot="input" bind-value="{{formData.IBAN}}" >
                <input class="input-style" id="IBAN" type="text" value="{{formData.IBAN}}">
              </iron-input>
            </paper-input-container>
            <paper-input-container>
              <label slot="input">Saldo</label>
              <iron-input  slot="input" bind-value="{{formData.balance}}" >
                <input class="input-style" id="balance" type="text" value="{{formData.balance}}" >
              </iron-input>
            </paper-input-container>
            <paper-input-container>
              <label slot="input">Moneda</label>
              <iron-input  slot="input" bind-value="{{formData.currency}}" >
                <input class="input-style" id="currency" type="text" value="{{formData.currency}}" >
              </iron-input>
            </paper-input-container>
            <paper-button raised class="primary" on-tap="Create">Crear Cuenta</paper-button>
        </div>

    </div>

  </template>

  <script>
      class CreateAccount extends Polymer.Element {
          static get is() { return 'create-account'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              console.log(this.formData);
              this.$.doCreate.body = this.formData;

          }

          Create (){
                  console.log(this.formData);
                  this.$.doCreate.body = JSON.stringify(this.formData);
                  this.$.doCreate.generateRequest();
                }

          handleUserResponse(event) {
            console.log(event.detail.response);
            this.error = '';
            //this.storedUser = {
            //    name: this.formData.email,
            //    id: event.detail.response.idUsuario
            //};
            console.log(event.detail.response.idUsuario);
            this.formData = {};
          }

          handleUserError(event) {
              console.log(event.detail.request.xhr.response);
              this.error = event.detail.request.xhr.response.msg;
          }
      }

      window.customElements.define(CreateAccount.is, CreateAccount);
  </script>
</dom-module>
