<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">


<dom-module id="data-user">
  <template>
    <style include="shared-styles">
    </style>


    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-location route="{{route}}"></app-location>
    <div hidden$="[[!storedUser.admin]]" class="cardAdmin">

    <!-- <div class="cardAdmin"> -->
      <h1 class="blanco">Alta de cliente</h1>
        <div class="PersonalArea" >
          <!-- <div hidden$="[[!storedUser.loggedin]]"> -->
            <div >
              <div class="row">
                <h3>Documento nacional de identidad</h3>
                <paper-input-container>
                  <label slot="input">DNI</label>
                  <iron-input  slot="input" bind-value="{{nid}}" >
                    <input class="input-style" id="nid" type="text" value="{{nid}}">
                  </iron-input>
                </paper-input-container>
                <button on-click="sendEvent">Enviar</button>
              </div>
          <!-- <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access</p> -->
            </div>
        </div>
    <!-- </div> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataOperation extends Polymer.Element {
      static get is() { return 'data-user'; }
      static get properties() {
        return {
          myevent : {
              type: Object
          }
        };

      }
      sendEvent(event) {
          console.log("Se ha pulsado el botón.sendEvent");
          console.log(event);
          console.log(this.nid);
          this.dispatchEvent(
            new CustomEvent (
              "myevent", { "detail" : { "nid" : this.nid.toUpperCase() }  }
            )
          )
      }
    }

    window.customElements.define(DataOperation.is, DataOperation);
  </script>
</dom-module>
