<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">


<dom-module id="data-transfer">
  <template>
    <style include="shared-styles">
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>
    <div class="PersonalArea" >
      <!-- <div hidden$="[[!storedUser.loggedin]]"> -->
    <div >
      <div >
        <div class="row">
          <h1>Transferencia de dinero entre cuentas</h1>
          <div class="PersonalArea">
            <paper-input-container>
              <label slot="input">Cantidad</label>
              <iron-input  slot="input" bind-value="{{formData.amount}}" >
                <input class="input-style" id="amount" type="text" value="{{formData.amount}}" >
              </iron-input>
            </paper-input-container>
            <paper-input-container>
              <label slot="input">Tipo de actividad</label>
              <iron-input  slot="input" bind-value="{{formData.dstaccount}}" >
                <input class="input-style" id="dstaccount" type="text" value="{{formData.dstaccount}}" >
              </iron-input>
            </paper-input-container>
            <label slot="input">Cuenta Origen</label>
            <select value={{cuenta::input}}>
              <optgroup label="Cuenta Origen">
              <template is="dom-repeat" items="[[accounts]]">
                  <option value=[[item.accountId]]>[[item.IBAN]]</option>
              </template>
            </select>
            <label slot="input">Cuenta Destino</label>
            <select value={{cuento::input}}>
              <optgroup label="Cuenta Destino">
              <template is="dom-repeat" items="[[accounts]]">
                  <option value=[[item.accountId]]>[[item.IBAN]]</option>
              </template>
            </select>
            <br>
            <button on-click="sendEvent">Enviar</button>
          </div>
        </div>
      </div
    </div>
    <iron-ajax
      id="getAccountsDT"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{storedUser.id}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataTransfer extends Polymer.Element {
      static get is() { return 'data-transfer'; }
      static get properties() {
        return {
          myevent : {
              type: Object
          }
        };

      }
      showData (data){
        console.log("DataTransfer.showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response
      }
      showError(error){
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          this.accounts = null;
          console.log(error.detail.request.xhr.response);
        }
      }
      sendEvent(s) {
          console.log("Se ha pulsado el botón.sendEvent");
          console.log(s);

          this.dispatchEvent(
            new CustomEvent (
              "myevent",
              {
                "detail" : {
                  "id" : this.storedUser.id,
                  "aid" : this.cuenta,
                  "amount" : this.$.amount.value,
                  "who" : this.storedUser.first_name+" "+this.storedUser.last_name,
                  "dstaccount" : this.$.dstaccount.value,
                  "daid" : this.cuento,
                }
              }
            )
          )

      }
    }

    window.customElements.define(DataTransfer.is, DataTransfer);
  </script>
</dom-module>
