<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">


<dom-module id="data-operation">
  <template>
    <style include="shared-styles">
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>
    <!-- <div hidden$="[[!storedUser.admin]]" > -->
    <div hidden$="[[!storedUser.loggedin]]" class="PersonalArea">
      <h1>Operaciones con cuentas</h1>
      <div class="PersonalArea" >
        <div>
              <paper-input-container>
                <label slot="input">Cantidad</label>
                <iron-input  slot="input" bind-value="{{formData.amount}}" >
                  <input class="input-style" id="amount" type="text" value="{{formData.amount}}" >
                </iron-input>
              </paper-input-container>
              <paper-input-container>
                <label slot="input">Quien</label>
                <iron-input  slot="input" bind-value="{{formData.who}}" >
                  <input class="input-style" id="who" type="text" value="{{formData.who}}" >
                </iron-input>
              </paper-input-container>
              <paper-input-container>
                <label slot="input">Tipo de actividad</label>
                <iron-input  slot="input" bind-value="{{formData.dstaccount}}" >
                  <input class="input-style" id="dstaccount" type="text" value="{{formData.dstaccount}}" >
                </iron-input>
              </paper-input-container>
              <select value={{cuenta::input}}>
                <optgroup label="Cuenta Objeto">
                <template is="dom-repeat" items="[[accounts]]">
                    <option value=[[item.accountId]]>[[item.IBAN]]</option>
                </template>
              </select>
              <button on-click="sendEvent">Enviar</button>
          </div>
      </div>
    </div>

      <!-- <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access</p> -->
    <iron-ajax
      id="getAccountsDO"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{storedUser.id}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataOperation extends Polymer.Element {
      static get is() { return 'data-operation'; }
      static get properties() {
        return {
          myevent : {
              type: Object
          },
          formData: {
              type: Object,
              value: {}
          },
          storedUser: Object,
          error: String
        };

      }
      showData (data){
        console.log("DataOperation.showData");
        console.log(data.detail.response);
        if (data.detail.response.length === 1){
          this.cuenta=data.detail.response[0].accountId;
        }
        this.accounts = data.detail.response
      }
      showError(error){
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          this.accounts = null;
          console.log(error.detail.request.xhr.response);
        }
      }
      sendEvent(s) {
          console.log("Se ha pulsado el botón.sendEvent");
          console.log(s);
          console.log(this.formData);
          this.dispatchEvent(
            new CustomEvent (
              "myevent",
              {
                "detail" : {
                  "id" : this.storedUser.id,
                  "aid" : this.cuenta,
                  "amount" : this.$.amount.value,
                  "who" : this.$.who.value,
                  "dstaccount" : this.$.dstaccount.value
                }
              }
            )
          )

      }
    }

    window.customElements.define(DataOperation.is, DataOperation);
  </script>
</dom-module>
