<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-transaccion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <my-fetcher items="{{accounts}}"></my-fetcher>
    <my-list items="[[accounts]]"></my-list>
    <button on-click="sendEvent">[[accounts]]-{{accounts}}</button>

  </template>

  <script>

    class EmisorTransaccion extends Polymer.Element {
      static get is() { return 'emisor-transaccion'; }
      static get properties() {
        return {
        };
      }
      sendEvent(s) {
        console.log("Se ha pulsado el botón");
        console.log(s);
        console.log(s.detail.response);
        this.dispatchEvent(
          new CustomEvent (
            "myevent",
            {
              "detail" : {
                "id" :[ "8"]
              }
            }
          )
        )
      }
    }

    window.customElements.define(EmisorTransaccion.is, EmisorTransaccion);
  </script>
</dom-module>
