<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="create-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      id="doCreate"
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{storedUser.id}}/accounts"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <app-location route="{{route}}"></app-location>

    <div class="CreateAccount">
        <h1>Creación de cuenta</h1>
        <h2>[[storedUser.id]]</h2>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">IBAN</label>
          <iron-input  slot="input" bind-value="{{formData.IBAN}}" >
            <input class="input-style" id="IBAN" type="text" value="{{formData.IBAN}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Saldo</label>
          <iron-input  slot="input" bind-value="{{formData.balance}}" >
            <input class="input-style" id="balance" type="text" value="{{formData.balance}}" >
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="Create">Crear Cuenta</paper-button>
        </div>
    </div>
  </template>

  <script>
      class CreateAccount extends Polymer.Element {
          static get is() { return 'create-account'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              console.log(this.formData);
              this.$.doCreate.body = this.formData;

          }

          Create (){
                  this.$.doCreate.body = JSON.stringify(this.formData);
                  this.$.doCreate.generateRequest();
                }

          handleUserResponse(event) {
            console.log(event.detail.response);
            this.error = '';
            this.storedUser = {
                name: this.formData.email,
                id: event.detail.response.idUsuario,
                //MAC
                admin: this.storedUser.admin,
                loggedin: true
            };
            console.log(event.detail.response.idUsuario);
            this.formData = {};
          }

          handleUserError(event) {
              this.error = event.detail.request.xhr.response.msg;
          }
      }

      window.customElements.define(CreateAccount.is, CreateAccount);
  </script>
</dom-module>
