<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="home-land">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card" hidden$="[[!storedUser.loggedin]]">
      <h1>Cita del día</h1>
      [[data.icon_url]]
      <blockquote>[[joke.value]]</blockquote>
      <img src="[[joke.icon_url]]" alt="Chuck Norris">
      <!-- <paper-button raised on-tap="getQuote" class="primary">Get a New Quote</paper-button> -->
    </div>
    <div hidden$="[[storedUser.loggedin]]>
      <p>
        <img src="../img/astonished.gif" alt="Upps">
        Debes hacer <a href="/register-login">Log in</a> al sistema para ver esto !!!
      </p>
    </div>
    <iron-ajax
      id="getAccounts"
      auto
      url="https://api.chucknorris.io/jokes/random"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
      class HomeLand extends Polymer.Element {
          static get is() { return 'home-land'; }
          static get properties() {
              return {
                joke :{
                  category: String,
                  icon_url: String,
                  id: String,
                  url: String,
                  value: String
                }
              };
            }


          showData (data){
            console.log(this.storedUser)
            console.log("SelectorCuenta.showData");
            console.log(data.detail.__data.response);

            // detail detail.__data.response
            this.joke=data.detail.__data.response;
            console.log(this.joke);
          }
          showError(error){
            console.log("Ha habido un error");
            console.log(error);

          }

      }


      window.customElements.define(HomeLand.is, HomeLand);
  </script>
</dom-module>
