<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
<brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

<app-location route="{{route}}"></app-location>

<dom-module id="log-out">
  <template>
    <style include="shared-styles">

    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="primary" on-tap="logout">Log Out [[[storedUser.name]]]</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-button class="link" on-tap="logout">Log Out [[[storedUser.name]]]</paper-button>
    </template>
  </template>

  <script>
      (function() {
          class LogOut extends Polymer.Element {
              static get is() {
                  return 'log-out';
              }

              static get properties() {
                  return {
                      storedUser: Object,
                      link: {
                          type: Boolean,
                          value: false
                      }
                  }
              }

              logout() {
                  this.storedUser = null;
                  this.storedUser.loggedin = false;
                  this.set('route.path', '/home-land');
              }
          }

          window.customElements.define(LogOut.is, LogOut);
      }());
  </script>
</dom-module>
