<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="not-found">
  <template>
    <style include="shared-styles">

    </style>
    <div class="polaroid">
      <img src="../img/tenor.gif" alt="404" style="width:100%>
      <div class="containerPhoto">
        <p>No es esto lo que buscabas seguro. <a href="[[rootPath]]">¿Volvemos?</a></p>
      </div>
    </div>
  </template>

  <script>
      class NotFound extends Polymer.Element {
          static get is() { return 'not-found'; }
          static get properties() {
              return {
                  // This shouldn't be neccessary, but the Analyzer isn't picking up
                  // Polymer.Element#rootPath
                  rootPath: String,
              };
          }
      }

      window.customElements.define(NotFound.is, NotFound);
  </script>
</dom-module>
