<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-admin">
  <template>
    <style include="shared-styles">

    </style>

    <iron-ajax
      id="doLogin"
      url="http://192.168.99.101:3000/BankPractice/v1/loginadmin/"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="cardAdmin">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <div class="row">
          <p class="card"><strong>Log in</strong>  para acceder a la aplicacion</p>

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>
          <div class="PersonalArea">
            <label slot="input">Email</label>
            <paper-input-container>
                <iron-input  slot="input" bind-value="{{formData.email}}" >
                  <input class="input-style" id="email" type="text" value="{{formData.email}}" placeholder="email">
                </iron-input>
            </paper-input-container>
            <label>Password</label>
            <paper-input-container>
              <iron-input slot="input" bind-value="{{formData.password}}">
                <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
              </iron-input>
            </paper-input-container>
          </div>
          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="login">Log In</paper-button>
          </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Ya estás en el sistema. Puedes acceder a los servicios que ves a la izquierda</p>
        <img src="../img/ac.gif" alt="404">
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class RegisterAdmin extends Polymer.Element {
          static get is() { return 'register-admin'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              this.$.doLogin.body = this.formData;
          }

          login (){
                  this.$.doLogin.body = JSON.stringify(this.formData);
                  this.$.doLogin.generateRequest();
                }

          handleUserResponse(event) {
            console.log(event.detail.response);
            this.error = '';
            this.storedUser = {
                name: this.formData.email,
                loggedin: true,
                id: event.detail.response.idUsuario,
                admin: true
                //isLogged = true;<
            };
            //this.set('route.path', '/home-land');
            this.set('route.path', '/home-land');
            this.formData = {};
          }

          handleUserError(event) {
              this.error = event.detail.request.xhr.response.msg;
          }
      }

      window.customElements.define(RegisterAdmin.is, RegisterAdmin);
  </script>
</dom-module>
