<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="register-login-fake.html">

<dom-module id="selector-user-deposit">
  <template>
    <style include="shared-styles">
    </style>

    <iron-localstorage name="uid" value="{{uid}}"></iron-localstorage>
    <brum-global-variable key="ouid" value="{{uid}}"></brum-global-variable>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="PersonalArea">
      <!-- <div> -->
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <h1>Datos del cliente</h1>
        <div hidden$="[[!Existe]]">
          <p>Nombre:[[user.first_name]] Apellidos:[[user.last_name]]</p>
          <p>DNI:[[user.nid]]</p>
          <p>Correo Electronico: [[user.email]]</p>
          <!-- <p>Correo Electronico: [[storedUser.email]]</p>
          <p>userId:[[user.id]]</p>
          <p>admin:[[storedUser.admin]]</p> -->
        </div>
    </div>


    <iron-ajax
      id="getUser"
      url="http://192.168.99.101:3000/BankPractice/v1/users/nid/{{nid}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      auto>
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SelectorUserDeposit extends Polymer.Element {
      static get is() { return 'selector-user-deposit'; }
      static get properties() {
        return {
            error: String
          //errorE : {
          //    type: String,
          //    observer: '_myaccountchanged'
          //  },
          //Existe : {
          //    type: boolean,
          //    value= false
          //  }

        }
      }
      showData (data){
        console.log("SelectorUserDeposit.showData");
        console.log(data.detail.response);
        this.user = data.detail.response;
        this.Existe = true;
        this.uid= data.detail.response.id;
        this.error = '';

        this.storedUser = {
            name: this.storedUser.email,
            loggedin: true,
            id: this.user.id,
            admin: true
        };
      }
      showError(error){
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          console.log(error.detail.request.xhr.response);
          this.error = error.detail.request.xhr.response.msg;
        }
        this.Existe = false;
      }

    }

    window.customElements.define(SelectorUserDeposit.is, SelectorUserDeposit);
  </script>
</dom-module>
