<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="selector-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }


    </style>

    <!-- <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage> -->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <template is="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error:</strong> [[error]]</p>
    </template>

    <div class="container">
      <div hidden$="[[!storedUser.loggedin]]">
        <div class="row">
        <h1>Cuentas</h1>
        <table>
               <tr>
                <th>Cuenta</th>
                <th>Saldo</th>
                <th>Moneda</th>
              </tr>
                <template is="dom-repeat" items="[[accounts]]">
                    <tr>
                      <!-- <td><a href="[[rootPath]]account-transaction">[[item.IBAN]]</a></td> -->
                      <td>[[item.IBAN]]</td>
                      <td>[[item.balance]]</td>
                      <td>[[item.currency]]</td>
                    </tr>
                </template>
        </table>
      </div>
      <div hidden$="[[!storedUser.loggedin]]">
        <select value={{cuenta::input}}>
          <template is="dom-repeat" items="[[accounts]]">
              <option value=[[item.accountId]]>[[item.IBAN]]</option>
          </template>
        </select>
        </br>
        <button on-click="sendEvent">Ver movimientos</button>
        </div>
        <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access</p>
      </div>
    </div>
    <iron-ajax
      id="getAccounts"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{storedUser.id}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SelectorCuenta extends Polymer.Element {
      static get is() { return 'selector-cuenta'; }
      static get properties() {
        return {
          cuenta :{
            type: Number,
            value: 0
          }
        };
      }

      constructor() {
        super();
      }

      showData (data){
        console.log("SelectorCuenta.showData");
        if (data.detail.response.length === 1){
          this.cuenta=data.detail.response[0].accountId;
        }
        this.accounts = data.detail.response;
      }
      showError(error){
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          this.movements = null;
          console.log(error.detail.request.xhr.response);
        }

      }
      sendEvent(s) {
        console.log("Se ha pulsado el botón");
        console.log(this.cuenta);
        this.dispatchEvent(
          new CustomEvent (
            "myaccount",
            {
              "detail" : {
                "aid" : this.cuenta
              }
            }
          )
        )
      }
    }

    window.customElements.define(SelectorCuenta.is, SelectorCuenta);
  </script>
</dom-module>
