<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">


<dom-module id="transaction-transfer-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <iron-localstorage name="movementDOS" value="{{movementDataDOS}}"></iron-localstorage>
    <brum-global-variable key="operDataDOS" value="{{movementDataDOS}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="TransactionTransferDos">
      <!-- Creando un ingreso de [[movementDataDOS.amount]] en  [[movementDataDOS.accountId]]
       <div>
          [[resultado]][[error]]
       </div> -->
    </div>
    <iron-ajax
      id="doDeposit"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{movementDataDOS.userId}}/accounts/{{movementDataDOS.accountId}}/deposit/{{movementDataDOS.amount}}"
      method="get"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

  </template>

  <script>

    class TransactionTransferDos extends Polymer.Element {
      static get is() { return 'transaction-transfer-dos'; }
      static get properties() {
        return {
          movementDataDOS : Object,
          resultado : String
        };

        }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response.msg;
          this.resultado=event.detail.request.xhr.response.msg;

      }
      handleUserResponse(event) {
        console.log(event.detail.response);
        console.log("movementDataDOS 1:");
        console.log(this.movementDataDOS);
        this.resultado=event.detail.response.msg;
        this.error = '';
        this.movementDataDOS = {
          userId: this.movementDataDOS.userId,
          accountId: this.movementDataDOS.accountId,
          amount: this.movementDataDOS.amount,
          who: this.movementDataDOS.who,
          type: this.movementDataDOS.type,
          balance: event.detail.response.balance
        };
        console.log("movementDataDOS 2:");
        console.log(this.movementDataDOS);
        this.set('route.path', '/create-movement-tres');
      }

    }

    window.customElements.define(TransactionTransferDos.is, TransactionTransferDos);
  </script>
</dom-module>
