<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">


<dom-module id="transaction-payment">
  <template>
    <style include="shared-styles">

    </style>

    <app-location route="{{route}}"></app-location>
    <div class="TransactionPayment">
      <!-- Creando un ingreso de [[amount]] de [[who]] en [[aid]] desde [[dstaccount]] -->
       <!-- <div>
           {{resultado::input}}
       </div> -->
       <template is="dom-if" if="[[error]]">
         <div class="PersonalArea" >
           <div class="redbg">
             <p class="alert-error"><strong>Error:</strong> [[error]]</p>
           </div>
        </div>
       </template>
    </div>
    <iron-ajax
      id="doPayment"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{id}}/accounts/{{aid}}/payment/{{amount}}"
      method="get"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>
    <iron-localstorage name="movement" value="{{movementData}}"></iron-localstorage>
    <brum-global-variable key="operData" value="{{movementData}}"></brum-global-variable>

  </template>

  <script>

    class TransactionPayment extends Polymer.Element {
      static get is() { return 'transaction-payment'; }
      static get properties() {
        return {
          movementData : Object,
          resultado : String
        };

        }
      handleUserError(event) {
          this.error = event.detail.request.xhr.response.msg;
          this.resultado=event.detail.request.xhr.response.msg;
      }
      handleUserResponse(event) {
        console.log(event.detail.response);
        this.resultado=event.detail.response.msg;
        this.error = '';
        this.movementData = {
          userId: this.id,
          accountId: this.aid,
          amount: this.amount*-1,
          who: this.who,
          type: this.dstaccount,
          balance: event.detail.response.balance
        };
        console.log(this.movementData);
        this.set('route.path', '/create-movement');
      }

    }

    window.customElements.define(TransactionPayment.is, TransactionPayment);
  </script>
</dom-module>
