<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="./selector-cuenta.html">
<link rel="import" href="./visor-movimientos.html">
<link rel="import" href="shared-styles.html">


<dom-module id="visor-usuario">
  <template>
    <style include="shared-styles">
    </style>


    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="PersonalArea">
      <template is="dom-if" if="[[error]]">
        <p class="alert-error"><strong>Error:</strong> [[error]]</p>
      </template>
      <div hidden$="[[!storedUser.loggedin]]">
        <h1>Zona personal</h1>
        <p>Hola, [[storedUser.first_name]] !</p>
        <p>Nombre:[[storedUser.first_name]] Apellidos:[[storedUser.last_name]]</p>
        <p>DNI:[[storedUser.nid]]</p>
        <p>Correo Electronico: [[storedUser.email]]</p>
      </div>
      <div>
        <selector-cuenta on-myaccount="processEvent"></selector-cuenta>
        <visor-movimientos  stored-user="{{storedUser}}"id="receiver"></visor-movimientos>
      </div>
      <p hidden$="[[storedUser.loggedin]]">You must <a href="/register-login">log in</a> to access</p>
    </div>
    <!-- <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max ="99" /> -->
    <iron-ajax
      id="getUser"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/users/{{storedUser.id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {

          storedUser: Object,
          error: String

        };
      }
      initStoredUser() {
          // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
          console.log(this.storedUser.loggedin);
      }
      showData (data){
        console.log("VisorUsuario.showData");
        console.log(data.detail.response);
        console.log(this.storedUser);
        this.storedUser = {
            name: this.storedUser.name,
            loggedin: true,
            first_name: data.detail.response.first_name,
            last_name: data.detail.response.last_name,
            email: data.detail.response.email,
            nid: data.detail.response.nid,
            id: data.detail.response.id,
            //MAC
            admin: this.storedUser.admin
        }
      };
      processEvent(event){
        console.log("processEventcuenta");
        this.$.receiver.aid=event.detail.aid;
        this.$.receiver.movimientos=event.detail.movimientos;
        this.$.receiver.id=this.storedUser.id;

      }
      showError(error) {
        console.log("Ha habido un error");
        console.log(error.detail.request.__data.response);
        this.isLogged = false;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
