<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style include="shared-styles">

    </style>
  <div hidden$="[[!movimientos]]">
    <h2>Movimientos</h2>
    <table>
      <tr>
        <th>Cuando</th>
        <th>Importe</th>
        <th>Saldo</th>
        <th>Tipo</th>
        <th>Quien</th>
      </tr>

    <template is="dom-repeat" items="[[movements]]">
        <tr>
          <!-- <td><a href="[[rootPath]]account-transaction">[[item.IBAN]]</a></td> -->
          <td>[[item.date]]</td>
          <td>[[item.amount]]</td>
          <td>[[item.balance]]</td>
          <td>[[item.type]]</td>
          <td>[[item.who]]</td>
        </tr>
    </template>
  </div>
    <iron-ajax
      id="getTransaction"
      auto
      url="http://192.168.99.101:3000/BankPractice/v1/transaction/{{id}}/{{aid}}"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>

    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          myaccount : {
            type: String,
            observer: '_myaccountchanged'
          },
          aid : {
            type: Number
          },
          movimientos:{
            type: Boolean,
            value: false
          }
        };

        }

      showData (data){
        console.log("VisorMovimientos.showData");
        console.log(data.detail.response);
        this.movements = data.detail.response
        if (data.detail.response.length>0){
          this.movimientos = data.detail.response.length;
        } else {
          this.movimientos = false;
        }
      }
      showError(error) {
        console.log("Ha habido un error");
        if (error.detail.request.xhr.status==404){
          this.movements = null;
          this.movimientos = 0;
          console.log(error.detail.request.xhr.response);
        }
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
